## Indexing and slicing

In [1]:
!pip install yfinance
import yfinance as yf
import pandas as pd

Collecting yfinance
  Using cached yfinance-0.1.63-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.15 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from yfinance) (1.21.2)

Collecting lxml>=4.5.1

  Using cached lxml-4.6.3-cp38-cp38-manylinux2014_x86_64.whl (6.8 MB)
Requirement already satisfied: requests>=2.20 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from yfinance) (2.26.0)

Collecting pandas>=0.24

  Using cached pandas-1.3.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)

Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.9-py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.7.3 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)

Requirement already satisfied: charset-normalizer~=2.0.0 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.26.6)
Requirement already satisfied: idna<4,>=2.5 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.2)

Installing collected packages: pandas, multitasking, lxml, yfinance

Successfully installed lxml-4.6.3 multitasking-0.0.9 pandas-1.3.3 yfinance-0.1.63

WARNING: You are using pip version 21.1.2; however, version 21.2.4 is available.
You should consider upgrading via the '/home/lorenzf/git/data-science-practical-approach/venv/bin/python -m pip install --upgrade pip' command.

In [2]:
pd.Timestamp.now()-pd.Timedelta(days=100)

Timestamp('2021-06-09 23:05:46.374369')

In [3]:
df = yf.download('TSLA', '2020-01-01', '2021-01-01')

[*********************100%***********************]  1 of 1 completed

In [4]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-31,81.000000,84.258003,80.416000,83.666000,83.666000,51428500
2020-01-02,84.900002,86.139999,84.342003,86.052002,86.052002,47660500
2020-01-03,88.099998,90.800003,87.384003,88.601997,88.601997,88892500
2020-01-06,88.094002,90.311996,88.000000,90.307999,90.307999,50665000
2020-01-07,92.279999,94.325996,90.671997,93.811996,93.811996,89410500
...,...,...,...,...,...,...
2020-12-24,642.989990,666.090027,641.000000,661.770020,661.770020,22865600
2020-12-28,674.510010,681.400024,660.799988,663.690002,663.690002,32278600
2020-12-29,661.000000,669.900024,655.000000,665.989990,665.989990,22910800
2020-12-30,672.000000,696.599976,668.359985,694.780029,694.780029,42846000
2020-12-31,699.989990,718.719971,691.119995,705.669983,705.669983,49649900

In [5]:
df.set_index('Open')

                  High         Low       Close   Adj Close    Volume
Open
81.000000    84.258003   80.416000   83.666000   83.666000  51428500
84.900002    86.139999   84.342003   86.052002   86.052002  47660500
88.099998    90.800003   87.384003   88.601997   88.601997  88892500
88.094002    90.311996   88.000000   90.307999   90.307999  50665000
92.279999    94.325996   90.671997   93.811996   93.811996  89410500
...                ...         ...         ...         ...       ...
642.989990  666.090027  641.000000  661.770020  661.770020  22865600
674.510010  681.400024  660.799988  663.690002  663.690002  32278600
661.000000  669.900024  655.000000  665.989990  665.989990  22910800
672.000000  696.599976  668.359985  694.780029  694.780029  42846000
699.989990  718.719971  691.119995  705.669983  705.669983  49649900

[254 rows x 5 columns]

In [6]:
df.loc['2020-06-01':'2020-06-30']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-06-01,171.600006,179.800003,170.820007,179.619995,179.619995,74697500
2020-06-02,178.940002,181.731995,174.199997,176.311996,176.311996,67828000
2020-06-03,177.623993,179.587997,176.020004,176.591995,176.591995,39747500
2020-06-04,177.975998,179.149994,171.688004,172.876007,172.876007,44438500
2020-06-05,175.567993,177.304001,173.240005,177.132004,177.132004,39059500
2020-06-08,183.800003,190.000000,181.832001,189.983994,189.983994,70873500
2020-06-09,188.001999,190.888000,184.785995,188.134003,188.134003,56941000
2020-06-10,198.376007,205.496002,196.500000,205.009995,205.009995,92817000
2020-06-11,198.039993,203.792007,194.399994,194.567993,194.567993,79582500
2020-06-12,196.000000,197.595993,182.520004,187.056000,187.056000,83817000
2020-06-15,183.557999,199.768005,181.699997,198.179993,198.179993,78486000
2020-06-16,202.369995,202.576004,192.477997,196.425995,196.425995,70255500
2020-06-17,197.542007,201.000000,196.514008,198.358002,198.358002,49454000
2020-06-18,200.600006,203.839996,198.893997,200.792007,200.792007,48759500
2020-06-19,202.556000,203.194000,198.268005,200.179993,200.179993,43398500
2020-06-22,199.990005,201.776001,198.003998,198.863998,198.863998,31812000
2020-06-23,199.776001,202.399994,198.802002,200.356003,200.356003,31826500
2020-06-24,198.822006,200.175995,190.628006,192.169998,192.169998,54798000
2020-06-25,190.854004,197.195999,187.429993,197.195999,197.195999,46272500
2020-06-26,198.955994,199.000000,190.973999,191.947998,191.947998,44274500
2020-06-29,193.802002,202.000000,189.703995,201.869995,201.869995,45132000
2020-06-30,201.300003,217.537994,200.746002,215.962006,215.962006,84592500

In [7]:
df.loc['2020-05-01':'2020-05-31'].Volume.sum()

1363518000

In [8]:
!pip install seaborn
import seaborn as sns

Collecting seaborn
  Using cached seaborn-0.11.2-py3-none-any.whl (292 kB)
Requirement already satisfied: pandas>=0.23 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from seaborn) (1.3.3)
Requirement already satisfied: matplotlib>=2.2 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from seaborn) (3.4.3)
Requirement already satisfied: numpy>=1.15 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from seaborn) (1.21.2)

Collecting scipy>=1.0

  Using cached scipy-1.7.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.4 MB)

Requirement already satisfied: pyparsing>=2.2.1 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: six in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /home/lorenzf/git/data-science-practical-approach/venv/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.1)

Installing collected packages: scipy, seaborn

Successfully installed scipy-1.7.1 seaborn-0.11.2
WARNING: You are using pip version 21.1.2; however, version 21.2.4 is available.
You should consider upgrading via the '/home/lorenzf/git/data-science-practical-approach/venv/bin/python -m pip install --upgrade pip' command.

In [9]:
tip_df = sns.load_dataset('tips')
tip_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
tip_index_df = tip_df.set_index('day')

In [11]:
tip_index_df.loc['Sun']

     total_bill   tip     sex smoker    time  size
day
Sun       16.99  1.01  Female     No  Dinner     2
Sun       10.34  1.66    Male     No  Dinner     3
Sun       21.01  3.50    Male     No  Dinner     3
Sun       23.68  3.31    Male     No  Dinner     2
Sun       24.59  3.61  Female     No  Dinner     4
..          ...   ...     ...    ...     ...   ...
Sun       20.90  3.50  Female    Yes  Dinner     3
Sun       30.46  2.00    Male    Yes  Dinner     5
Sun       18.15  3.50  Female    Yes  Dinner     3
Sun       23.10  4.00    Male    Yes  Dinner     3
Sun       15.69  1.50    Male    Yes  Dinner     2

[76 rows x 6 columns]

In [12]:
tip_index_df = tip_df.set_index(['day','time'])

In [13]:
tip_index_df.loc[('Thur','Lunch')].tip.mean()

/tmp/ipykernel_13322/2537502835.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  tip_index_df.loc[('Thur','Lunch')].tip.mean()

2.767704918032786