## Groupby

In [1]:
import pandas as pd

In [2]:
rating_df = pd.read_csv('./data/cuisine/rating_final.csv')

In [3]:
grouped_rating_df = rating_df.groupby('placeID').mean().sort_values('rating')
grouped_rating_df

           rating  food_rating  service_rating
placeID
132654   0.250000         0.25        0.250000
135040   0.250000         0.25        0.250000
132560   0.500000         1.00        0.250000
132663   0.500000         0.50        0.666667
135069   0.500000         0.50        0.750000
...           ...          ...             ...
132755   1.800000         2.00        1.600000
132922   1.833333         1.50        1.833333
134986   2.000000         2.00        2.000000
135034   2.000000         2.00        1.600000
132955   2.000000         1.80        1.800000

[130 rows x 3 columns]

In [4]:
geo_df = pd.read_csv('./data/cuisine/geoplaces2.csv').set_index('placeID')

In [5]:
merged_rating_df = pd.merge(grouped_rating_df, geo_df, left_index=True, right_index=True)
merged_rating_df

,rating,food_rating,service_rating,latitude,longitude,the_geom_meter,name,address,city,state,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
placeID,,,,,,,,,,,,,,,,,,,,,
132654,0.250000,0.25,0.250000,23.735523,-99.129588,0101000020957F000040E8F628488557C18224E8B94845...,Carnitas Mata Calle 16 de Septiembre,16 de Septiembre,victoria,tamaulipas,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
135040,0.250000,0.25,0.250000,22.135617,-100.969709,0101000020957F00001B552189B84A58C15A2AAEFD2CA2...,Restaurant los Compadres,Camino a Simon Diaz 155 Centro,San Luis Potosi,SLP,...,Wine-Beer,none,informal,no_accessibility,high,?,familiar,f,closed,none
132560,0.500000,1.00,0.250000,23.752304,-99.166913,0101000020957F0000FC60BDA8E88157C1B2C357D6DA4E...,puesto de gorditas,frente al tecnologico,victoria,tamaulipas,...,No_Alcohol_Served,permitted,informal,no_accessibility,low,?,familiar,f,open,none
132663,0.500000,0.50,0.666667,23.752511,-99.166954,0101000020957F0000FDF8D26EE08157C1FEDB6A1FDB4E...,tacos abi,?,victoria,tamaulipas,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
135069,0.500000,0.50,0.750000,22.140129,-100.944872,0101000020957F000038E5D546B74A58C18FD29AD0D29A...,Abondance Restaurante Bar,Industrias 908 Valle Dorado,San Luis Potosi,SLP,...,Wine-Beer,none,informal,no_accessibility,low,?,familiar,f,closed,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132755,1.800000,2.00,1.600000,22.153324,-101.019546,0101000020957F000026CADE45A14658C1F011EBCA55AF...,La Estrella de Dimas,Av. de los Pintores,San Luis Potosi,S.L.P.,...,No_Alcohol_Served,none,informal,partially,medium,?,familiar,f,closed,variety
132922,1.833333,1.50,1.833333,22.151135,-100.982311,0101000020957F000060A98A38FF4758C146718E41D9A4...,cafe punta del cielo,?,?,?,...,No_Alcohol_Served,permitted,formal,completely,medium,?,familiar,f,closed,none
134986,2.000000,2.00,2.000000,18.928798,-99.239513,0101000020957F00002A0D05E2D96D5AC1AB058CB1EC56...,Restaurant Las Mananitas,Ricardo Linares 107,Cuernavaca,Morelos,...,Wine-Beer,none,formal,no_accessibility,high,lasmananitas.com.mx,familiar,f,closed,none
135034,2.000000,2.00,1.600000,22.140517,-101.021422,0101000020957F000026D92BB4894858C161A7552DA2B0...,Michiko Restaurant Japones,Cordillera de Los Alpes 160 Lomas 2 Seccion,San Luis Potosi,SLP,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
132955,2.000000,1.80,1.800000,22.147622,-101.010275,0101000020957F000068BE7C87C24758C1920A360A08AD...,emilianos,venustiano carranza,san luis potos,mexico,...,Wine-Beer,none,informal,completely,low,?,familiar,t,closed,variety

In [6]:
merged_rating_df.columns

Index(['rating', 'food_rating', 'service_rating', 'latitude', 'longitude',
       'the_geom_meter', 'name', 'address', 'city', 'state', 'country', 'fax',
       'zip', 'alcohol', 'smoking_area', 'dress_code', 'accessibility',
       'price', 'url', 'Rambience', 'franchise', 'area', 'other_services'],
      dtype='object')

In [7]:
merged_rating_df.groupby('country')[['rating', 'food_rating', 'service_rating']].mean()

           rating  food_rating  service_rating
country
?        1.166045     1.232946        1.069169
Mexico   1.200977     1.229093        1.118162
mexico   1.062660     1.069006        0.900064

In [8]:
can you fix this string problem?

Object `problem` not found.

In [9]:
merged_rating_df.groupby('alcohol')[['rating', 'food_rating', 'service_rating']].mean()

                     rating  food_rating  service_rating
alcohol
Full_Bar           1.287124     1.218315        1.170311
No_Alcohol_Served  1.148075     1.194730        1.042417
Wine-Beer          1.231887     1.261840        1.174437

In [10]:
merged_rating_df.groupby('accessibility')[['rating', 'food_rating', 'service_rating']].mean()

                    rating  food_rating  service_rating
accessibility
completely        1.132494     1.203597        1.049709
no_accessibility  1.196189     1.206242        1.091278
partially         1.275356     1.330294        1.219991

In [11]:
merged_rating_df.accessibility.value_counts()

no_accessibility    76
completely          45
partially            9
Name: accessibility, dtype: int64

In [12]:
merged_rating_df.groupby('price')[['rating', 'food_rating', 'service_rating']].mean()

          rating  food_rating  service_rating
price
high    1.258106     1.253816        1.174754
low     1.063059     1.135805        0.935632
medium  1.234342     1.255871        1.161361

In [13]:
can you solve the mean-mean problem?

Object `problem` not found.

In [14]:
in the merge example we added the cuisine type, could you perform a groupby analysis on this?

Object `this` not found.